[Unit]
Description=Dowload file sorter

[Service]
ExecStart=bash /bin/dlmanager
ExecStop=/bin/kill -s QUIT $MAINPID

[Install]
WantedBy=multi-user.target
